# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
cache_store/

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python virtual environments
.venv/
venv/

# Logs
*.log

# Misc
*.swp
*.swo

# Ignore requirements lock if generated
poetry.lock
Pipfile.lock
